body {
    font-family: comic sans ms;
}

#mainNavbar {
    font-size: 20px;
}

#mainNavbar .navbar-brand {
    font-size: 30px;
    border: 0;
    border-radius: 0;
}

#mainNavbar .nav-item {
    padding-left: 9vw;
    border-bottom: 3px solid transparent;
}

.nav-item a:hover {
    border-bottom: 3px solid rgb(252, 162, 7);
}

.nav-item a:active {
    border-bottom: 3px solid rgb(252, 162, 7);
}

#mainNavbar .navbar-collapse {
    text-align: center;
}

.body {
    position: fixed;
    overflow: hidden;
}

.container{
    text-align: center;
    margin-top: 250px;
    position: fixed center;
    overflow: hidden;
}

.motto {
    font-family:agency fb;
    font-size: 60px;
    font-style: italic;
    color: rgba(57, 94, 133, 1);
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: rgb(252, 162, 7);
    text-decoration: solid overline rgb(252, 162, 7);
}

.tagDropdown{
    background-color: rgb(255,255,255);
    color:  rgb(57, 94, 133); 
    border: 2px solid rgb(252, 162, 7);
    height: 34px;
    width: 400px;
    margin-top: 30px;
    outline: none;
}

.btn {
    background-color: rgb(255,255,255);
    color: rgb(57, 94, 133);
    font-weight: bold;
    border: 2px solid rgb(252, 162, 7);
    margin-top: 30px;
    cursor: pointer;
    transition: 0.8s;
}

.btn:hover{
    background-color: rgb(252, 162, 7);
}

#logo {
    height: 150px;
    width: 400px;
}
/* #main-footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding:20px;
    margin-top: 200px;
} */