body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

a {
    color: #e8797c;
}

a:hover {
    color: #dc383d;
}

a:visited {
    color: #a9a9a9;
}

.form-control:focus {
    border-color: #e8797c !important;
    box-shadow: 0 0 5px rgba(232, 121, 124, 1) !important;
}

.logo {
    font-size: 6vh;
    color: white;
    padding-left: 1vw;
}

.logo:hover {
    color: black;
    text-decoration: none;
}

/* start of home section */

.container{
    text-align: center;
    margin-top: 7vh;
    position: fixed center;
    overflow: hidden;
}

/* Discover patient insights. */
.motto {
    font-size: 7.7vh;
}

.card {
    border: none;
}

.refine-div {
    text-align: center;
}
.refine-div select {
    background-color: rgb(255,255,255);
    color: #e8797c;
    border: 2px solid #e8797c;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
    outline: none;
}

.results-title {
    text-align: center;

}

.tagDropdown{
    background-color: rgb(255,255,255);
    color:  #e8797c; 
    border: 0.5vh solid #e8797c;
    padding-left: 3vh;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
    height: 8.5vh;
    width: 65vh;
    margin-top: 3vh;
    outline: none;
    font-size: 2.7vh;
}

.knownow-btn {
    background-color: #e8797c;
    color: white;
    font-weight: bold;
    height: 7vh;
    width: 21vh;
    margin-top: 3vh;
    font-size: 2.8vh;
    cursor: pointer;
}

.knownow-btn:hover {
background-color: white;
color: #e8797c;
border: 0.5vh solid #e8797c;
}

.home_art {
    z-index:-5;
    width: 90%;
    /* height: 50vh;
    width: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* end of home section */

.art-img {
    max-width: 1000px;
    max-height: 1000px;
}

#mainNavbar {
    background-color: #e8797c;
    font-size: 3vh;
    padding-bottom: 1vh;
}

#mainNavbar .nav-item {
    padding-left: 6vw;
}

.nav-item a:hover {
    border-bottom: 1px dashed white;
}

#mainNavbar .navbar-collapse {
    text-align: center;
}

.about-div {
    height: 100vh;
    width: 100vw;
    position: relative;
 }

.about-div::after {
    content: “”;
    background-image: url(pink4.jpg);
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.about-title {
    text-align: center;
    font-size: 4.0em;
    text-shadow: 2px 2px;
}

.intro-text {
    border: 3px dashed rgba(232, 121, 124, 1);
    box-shadow: 3px 3px 5px 6px rgba(232, 121, 124, 1);
    text-indent: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(232, 121, 124, 0.3);
    color: black;
}
