{% extends "layout.html" %}
{% block content %}

<section class="container-fluid about-div">
    <div class="about_us_back-image">
        <img src = "../static/replace.jpeg" alt = "" align = "middle" style = "display: block; margin-left: auto; margin-right: auto;" class = "about-us-image">
    </div>
    <div class="aboutus-text">
         <h1 class = "about-title">About Us</h1>
         <div class ="intro-text">
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit unde sint, quibusdam at magni voluptatibus, rem veniam atque sunt reprehenderit, odio facere rerum dolor corporis nemo?
         Facilis expedita est fugiat jhfahfjk fsjfhajshf ajfhja jjsd sdj jsdjfj jjjd jds jsxj jejwnc jsqn jjo p kal jjksmcb hhheibb hdbhbb hwdfbwf jshaf jasfhkjhfdj asjdh hfkjahjkdsfhkahoiqk qufh iueqvh dhvjk hkahvkh qhdv kjhdkj edfhuquhfuhqkuhufhqiu huifqhuiehfiuq !</p>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit unde sint, quibusdam at magni voluptatibus, rem veniam atque sunt reprehenderit, odio facere rerum dolor corporis nemo?
         Facilis expedita est fugiat jhfahfjk fsjfhajshf ajfhja jjsd sdj jsdjfj jjjd jds jsxj jejwnc jsqn jjo p kal jjksmcb hhheibb hdbhbb hwdfbwf jshaf jasfhkjhfdj asjdh hfkjahjkdsfhkahoiqk qufh iueqvh dhvjk hkahvkh qhdv kjhdkj edfhuquhfuhqkuhufhqiu huifqhuiehfiuq !</p>
         </div>
    </div>
</section>


{% endblock content %}